label {
  width: 100%;
  max-width: 300px;
}

input {
  width: 100%;
  display: flex;
  padding: 15px;
  background-color: white;
  border: 2px solid black;
  color: #111;
  font-size: 15px;
  box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
  height: 30px;
  transform: skew(-3deg, 1deg);
  font-family: 'Knewave', cursive;
  letter-spacing: 2px;
  text-transform: uppercase;
}
input:focus, input:valid {
  outline: none;
}
input:focus ~ .buscar .letra:nth-child(1)::before, input:valid ~ .buscar .letra:nth-child(1)::before {
  filter: blur(20px);
  transform: translate(0, -35px) rotate(-210deg);
}
input:focus ~ .buscar .letra:nth-child(1)::after, input:valid ~ .buscar .letra:nth-child(1)::after {
  filter: blur(0);
  transform: scale(1) rotate(0);
}
input:focus ~ .buscar .letra:nth-child(2)::before, input:valid ~ .buscar .letra:nth-child(2)::before {
  filter: blur(20px);
  transform: translate(0, -35px) rotate(-210deg);
}
input:focus ~ .buscar .letra:nth-child(2)::after, input:valid ~ .buscar .letra:nth-child(2)::after {
  filter: blur(0);
  transform: scale(1) rotate(0);
}
input:focus ~ .buscar .letra:nth-child(3)::before, input:valid ~ .buscar .letra:nth-child(3)::before {
  filter: blur(20px);
  transform: translate(0, -35px) rotate(-210deg);
}
input:focus ~ .buscar .letra:nth-child(3)::after, input:valid ~ .buscar .letra:nth-child(3)::after {
  filter: blur(0);
  transform: scale(1) rotate(0);
}
input:focus ~ .buscar .letra:nth-child(4)::before, input:valid ~ .buscar .letra:nth-child(4)::before {
  filter: blur(20px);
  transform: translate(0, -35px) rotate(-210deg);
}
input:focus ~ .buscar .letra:nth-child(4)::after, input:valid ~ .buscar .letra:nth-child(4)::after {
  filter: blur(0);
  transform: scale(1) rotate(0);
}
input:focus ~ .buscar .letra:nth-child(5)::before, input:valid ~ .buscar .letra:nth-child(5)::before {
  filter: blur(20px);
  transform: translate(0, -35px) rotate(-210deg);
}
input:focus ~ .buscar .letra:nth-child(5)::after, input:valid ~ .buscar .letra:nth-child(5)::after {
  filter: blur(0);
  transform: scale(1) rotate(0);
}
input:focus ~ .buscar .letra:nth-child(6)::before, input:valid ~ .buscar .letra:nth-child(6)::before {
  filter: blur(20px);
  transform: translate(0, -35px) rotate(-210deg);
}
input:focus ~ .buscar .letra:nth-child(6)::after, input:valid ~ .buscar .letra:nth-child(6)::after {
  filter: blur(0);
  transform: scale(1) rotate(0);
}
input:focus ~ .buscar .letra:nth-child(1)::after, input:valid ~ .buscar .letra:nth-child(1)::after {
  transition-delay: 400ms;
}
input:focus ~ .buscar .letra:nth-child(2)::after, input:valid ~ .buscar .letra:nth-child(2)::after {
  transition-delay: 600ms;
}
input:focus ~ .buscar .letra:nth-child(3)::after, input:valid ~ .buscar .letra:nth-child(3)::after {
  transition-delay: 800ms;
}
input:focus ~ .buscar .letra:nth-child(4)::after, input:valid ~ .buscar .letra:nth-child(4)::after {
  transition-delay: 1000ms;
}
input:focus ~ .buscar .letra:nth-child(5)::after, input:valid ~ .buscar .letra:nth-child(5)::after {
  transition-delay: 1200ms;
}
input:focus ~ .buscar .letra:nth-child(6)::after, input:valid ~ .buscar .letra:nth-child(6)::after {
  transition-delay: 1400ms;
}

label {
  position: relative;
}

.buscar {
  position: absolute;
  top: 25px;
  left: -4px;
  list-style: none;
  padding-left: 22px;
  position: absolute;
  display: flex;
  pointer-events: none;
  transition: 200ms;
}
.buscar .letra {
  letter-spacing: 3px;
  text-transform: uppercase;
  color: transparent;
  pointer-events: none;
  transition: 500ms ease-in-out;
}

.buscar .letra ::selection {
  color: transparent;
}
.buscar .letra::after, .buscar .letra::before {
  color: black;
  position: absolute;
  transition: 500ms ease-in-out;
}
.buscar .letra::before {
  top: -20px;
}
.buscar .letra::after {
  top: -63px;
  transform: scale(0) rotate(210deg);
  filter: blur(20px);
}
.buscar .letra[s]::before {
  content: attr(s) "B";
  transition-delay: 200ms;
}
.buscar .letra[s]::after {
  content: attr(s) "B";
  left: 12px;
  color: #666;
}
.buscar .letra[e]::before {
  content: attr(e) "U";
  transition-delay: 400ms;
}
.buscar .letra[e]::after {
  content: attr(e) "U";
  left: 24px;
  color: #666;
}
.buscar .letra[a]::before {
  content: attr(a) "S";
  transition-delay: 600ms;
}
.buscar .letra[a]::after {
  content: attr(a) "S";
  left: 36px;
  color: #666;
}
.buscar .letra[r]::before {
  content: attr(r) "C";
  transition-delay: 800ms;
}
.buscar .letra[r]::after {
  content: attr(r) "C";
  left: 48px;
  color: #666;
}
.buscar .letra[c]::before {
  content: attr(c) "A";
  transition-delay: 1000ms;
}
.buscar .letra[c]::after {
  content: attr(c) "A";
  left: 60px;
  color: #666;
}
.buscar .letra[h]::before {
  content: attr(h) "R";
  transition-delay: 1200ms;
}
.buscar .letra[h]::after {
  content: attr(h) "R";
  left: 72px;
  color: #666;
}
